/* =========================================
   BUTTON COMPONENT
   ========================================= */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  padding-block: var(--sp-xs);
  padding-inline: var(--sp-xs);
   min-inline-size: clamp(12.5rem, calc(12.5rem + 5.3 * var(--vw-range)), 17.8125rem);
  min-block-size: clamp(3.75rem,  calc(3.75rem  + 1.8  * var(--vw-range)), 5.5rem);
  
  border: .125rem solid var(--c-bg-white);
  color: var(--c-bg-white);
  background-color: transparent;

  font-family: var(--ff-heading);
  font-size: var(--fs-info);
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  white-space: nowrap;
  transition: all var(--transition);
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--c-bg-white);
  color: var(--c-brand-dark);
  outline: 2px solid var(--c-bg-white);
  outline-offset: 2px;
}

/* Primary Modifier */
.btn--primary {
  background-color: var(--c-brand-dark);
  border-color: var(--c-brand-dark);
  color: var(--c-bg-white);
}

.btn--primary:hover,
.btn--primary:focus-visible {
  background-color: var(--c-brand-olive);
  color: var(--c-bg-white);
  outline-color: var(--c-brand-dark);
}

/* Outline Dark Modifier */
.btn--outline-dark {
  color: var(--c-text-black);
  border-color: var(--c-text-black);
}

.btn--outline-dark:hover,
.btn--outline-dark:focus-visible {
  background-color: var(--c-brand-dark);
  color: var(--c-bg-white);
  outline-color: var(--c-text-black);
}
