.menu__list {
  gap: var(--sp-md);
}

.menu__list--grid {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-list--stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__item {
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: var(--sp-s);
}

.menu__item-title,
.menu__item-price {
  inline-size: 100%;
  font-family: var(--ff-heading);
  font-weight: 700;
  font-size: var(--fs-h3);
  line-height: 1.23529;
  color: var(--c-text-black);
}

.menu__item-desc {
  font-weight: 400;
  font-size: var(--fs-body-lg);
  line-height: 1.4;
  letter-spacing: 0.02em;
}

.menu__item-price-wrapper {
  order: -1;
  width: 100%;
  text-align: right;
  border-bottom: 2px dotted var(--c-text-black);
  padding-block-end: 0.2rem;
  margin-block-end: var(--sp-xs);
}

.menu__item-price {
  font-size: var(--fs-h4);
  line-height: 1.33333;
  text-align: right;
}
